In [14]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.svm import SVC
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score

In [17]:
column_names = ['Id', 'RI', 'Na', 'Mg', 'Al', 'Si', 'K', 'Ca', 'Ba', 'Fe', 'Type']

df = pd.read_csv('Glass Identification.csv',names= column_names)
df.head()

   Id       RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0   1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1   2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2   3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3   4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4   5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [18]:
X = df.drop('Id', axis=1)
X.head()

        RI     Na    Mg    Al     Si     K    Ca   Ba   Fe  Type
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0     1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0     1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0     1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0     1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0     1

In [20]:
y = df['Type']
y.count()

214

In [21]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [22]:
scaler = StandardScaler()
X_train = scaler.fit_transform(X_train)
X_test = scaler.transform(X_test)

In [23]:
from sklearn.linear_model import LogisticRegression
lr_model = LogisticRegression()
lr_model.fit(X_train, y_train)
y_pred_lr = lr_model.predict(X_test)
print("Logistic Regression Accuracy Score: ", accuracy_score(y_test, y_pred_lr))
print("Logistic Regression Precision Score: ", precision_score(y_test, y_pred_lr, average='weighted'))
print("Logistic Regression Recall Score: ", recall_score(y_test, y_pred_lr, average='weighted'))
print("Logistic Regression F1 Score: ", f1_score(y_test, y_pred_lr, average='weighted'))

Logistic Regression Accuracy Score:  0.9069767441860465
Logistic Regression Precision Score:  0.9218726250189999
Logistic Regression Recall Score:  0.9069767441860465
Logistic Regression F1 Score:  0.8954219647348811

In [24]:
from sklearn.tree import DecisionTreeClassifier

dt_model = DecisionTreeClassifier()

dt_model.fit(X_train, y_train)

y_pred_dt = dt_model.predict(X_test)

print("Decision Tree Classifier Accuracy Score: ", accuracy_score(y_test, y_pred_dt))
print("Decision Tree Classifier Precision Score: ", precision_score(y_test, y_pred_dt, average='weighted'))
print("Decision Tree Classifier Recall Score: ", recall_score(y_test, y_pred_dt, average='weighted'))
print("Decision Tree Classifier F1 Score: ", f1_score(y_test, y_pred_dt, average='weighted'))

Decision Tree Classifier Accuracy Score:  0.9767441860465116
Decision Tree Classifier Precision Score:  0.9825581395348837
Decision Tree Classifier Recall Score:  0.9767441860465116
Decision Tree Classifier F1 Score:  0.9767441860465116

In [25]:
from sklearn.ensemble import RandomForestClassifier

rf_model = RandomForestClassifier()

rf_model.fit(X_train, y_train)

y_pred_rf = rf_model.predict(X_test)

# Model evaluation
print("Random Forest Classifier Accuracy Score: ", accuracy_score(y_test, y_pred_rf))
print("Random Forest Classifier Precision Score: ", precision_score(y_test, y_pred_rf, average='weighted'))
print("Random Forest Classifier Recall Score: ", recall_score(y_test, y_pred_rf, average='weighted'))
print("Random Forest Classifier F1 Score: ", f1_score(y_test, y_pred_rf, average='weighted'))

Random Forest Classifier Accuracy Score:  1.0
Random Forest Classifier Precision Score:  1.0
Random Forest Classifier Recall Score:  1.0
Random Forest Classifier F1 Score:  1.0

In [79]:
grade_map = {'A+': 4.33, 'A': 4.0, 'A-': 3.67, 'B+': 3.33, 'B': 3.0, 'B-': 2.67, 'C+': 2.33, 'C': 2.0, 'C-': 1.67, 'D+': 1.33, 'D': 1.0, 'F': 0.0}

for col in df.columns[1:]:
    df[col] = df[col].map(grade_map)
    
df = df.drop(columns=['Seat No.'])

In [57]:
col_nam = ['Seat No.', 'PH-121', 'HS-101', 'CY-105', 'HS-105/12', 'MT-111', 'CS-105', 'CS-106', 'EL-102', 'EE-119', 'ME-107', 'CS-107', 'HS-205/20', 'MT-222', 'EE-222', 'MT-224', 'CS-210', 'CS-211', 'CS-203', 'CS-214', 'EE-217', 'CS-212', 'CS-215', 'MT-331', 'EF-303', 'HS-304', 'CS-301', 'CS-302', 'TC-383', 'MT-442', 'EL-332', 'CS-318', 'CS-306', 'CS-312', 'CS-317', 'CS-403', 'CS-421', 'CS-406', 'CS-414', 'CS-419', 'CS-423', 'CS-412', 'CGPA']

In [104]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error

url = "https://raw.githubusercontent.com/FlipRoboTechnologies/ML-Datasets/main/Grades/Grades.csv"
df = pd.read_csv(url)

In [105]:
df.head()

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,...,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412,CGPA
0,CS-97001,B-,D+,C-,C,C-,D+,D,C-,B-,...,C-,C-,C-,C-,A-,A,C-,B,A-,2.205
1,CS-97002,A,D,D+,D,B-,C,D,A,D+,...,D+,D,C,D,A-,B-,C,C,B,2.008
2,CS-97003,A,B,A,B-,B+,A,B-,B+,A-,...,B,B,A,C,A,A,A,A-,A,3.608
3,CS-97004,D,C+,D+,D,D,A-,D+,C-,D,...,D+,C,D+,C-,B-,B,C+,C+,C+,1.906
4,CS-97005,A-,A-,A-,B+,A,A,A-,B+,A,...,B-,B+,B+,B-,A-,A,A-,A-,A,3.448

In [106]:
# Remove rows with missing values
df.dropna()
# Convert course codes into dummy variables

,Seat No.,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,...,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412,CGPA
0,CS-97001,B-,D+,C-,C,C-,D+,D,C-,B-,...,C-,C-,C-,C-,A-,A,C-,B,A-,2.205
1,CS-97002,A,D,D+,D,B-,C,D,A,D+,...,D+,D,C,D,A-,B-,C,C,B,2.008
2,CS-97003,A,B,A,B-,B+,A,B-,B+,A-,...,B,B,A,C,A,A,A,A-,A,3.608
3,CS-97004,D,C+,D+,D,D,A-,D+,C-,D,...,D+,C,D+,C-,B-,B,C+,C+,C+,1.906
4,CS-97005,A-,A-,A-,B+,A,A,A-,B+,A,...,B-,B+,B+,B-,A-,A,A-,A-,A,3.448
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
566,CS-97567,B,A,A,A-,A+,A,A-,A-,A+,...,A-,A-,A,A,A,B+,B+,B,A,3.798
567,CS-97568,A+,A,A,A,A,A,A,A-,A,...,B+,B+,A,A,A-,B,A-,C,A-,3.772
568,CS-97569,B,A,A-,B+,A,A,A,A,A,...,A-,B,A,B+,A,C,B+,A-,A-,3.470
569,CS-97570,A,B+,D,A,D,D+,B-,C-,B-,...,D,B,B,C-,D,C,B,B-,C,2.193
570,CS-97571,C,D,D,C,C,D+,B,C+,C,...,C+,C,B-,D,F,C-,B+,D,C-,1.753

In [107]:
# Split the dataset into a training set and a testing set
X = df.drop('CGPA', axis=1)
X = X.drop('Seat No.', axis=1)

y = df['CGPA']

grade_map = {'A+': 4.33, 'A': 4.0, 'A-': 3.67, 'B+': 3.33, 'B': 3.0, 'B-': 2.67, 'C+': 2.33, 'C': 2.0, 'C-': 1.67, 'D+': 1.33, 'D': 1.0, 'F': 0.0}

# Apply the grade mapping to each grade column
for col in X.columns[0:]:
    X[col] = X[col].map(grade_map)
    
# Drop the enrollment number column
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [108]:
X.head()

,PH-121,HS-101,CY-105,HS-105/12,MT-111,CS-105,CS-106,EL-102,EE-119,ME-107,...,CS-306,CS-312,CS-317,CS-403,CS-421,CS-406,CS-414,CS-419,CS-423,CS-412
0,2.67,1.33,1.67,2.00,1.67,1.33,1.00,1.67,2.67,1.67,...,2.00,1.67,1.67,1.67,1.67,3.67,4.00,1.67,3.00,3.67
1,4.00,1.00,1.33,1.00,2.67,2.00,1.00,4.00,1.33,1.00,...,1.00,1.33,1.00,2.00,1.00,3.67,2.67,2.00,2.00,3.00
2,4.00,3.00,4.00,2.67,3.33,4.00,2.67,3.33,3.67,3.67,...,3.67,3.00,3.00,4.00,2.00,4.00,4.00,4.00,3.67,4.00
3,1.00,2.33,1.33,1.00,1.00,3.67,1.33,1.67,1.00,2.33,...,1.67,1.33,2.00,1.33,1.67,2.67,3.00,2.33,2.33,2.33
4,3.67,3.67,3.67,3.33,4.00,4.00,3.67,3.33,4.00,3.67,...,3.67,2.67,3.33,3.33,2.67,3.67,4.00,3.67,3.67,4.00

In [ ]:
# Train the model
model = RandomForestRegressor(n_estimators=100, random_state=42)
model.fit(X_train, y_train)